@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var name = ViewData["Name"] as string;
    var age = (int)ViewData["Age"]!;
    // string message(string str) => str.ToUpper();
    // var foo = new IndexModel().Foo;
    var foo = Model.Foo;
}

@functions{
    string message(string str) => str.ToUpper();
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@message("Lorem ipsum DoloR")</p>
    <p>@foo("antananrivu")</p>
    <p>@Model.Foo("antananrivu")</p>
    @if(name is not null)
    {
        <p>Name: @name</p>
        <p>Age: @age</p>
    }
    else
    {
        <p>Name: @string.Empty</p>
        <p>Age: 0</p>
    }
</div>
